.float {
  &-left {
    float: left;
  }

  &-right {
    float: right;
  }

  &-none {
    float: none;
  }
}

.direction {
  &-ltr {
    direction: ltr !important;
  }

  &-rtl {
    direction: rtl !important;
  }
}

.clearfix {
  @include clearfix();
}

.back-ground-dark {
  @include back-ground-dark();
}

.back-ground-white {
  @include back-ground-white();
}

.fit {
  @include fit();
}

.fixed {
  @include fixed();
}

.absolute-center {
  @include absolute-center();
}

.display {
  &-block {
    display: block;
  }

  &-flex {
    display: flex;
  }

  &-inline {
    display: inline;
    vertical-align: middle;
  }

  &-inline-block {
    @include inline-block();
  }
}

.min-height-auto {
  min-height: auto !important;
}

.vertical-align {
  &-middle {
    vertical-align: middle;
  }

  &-top {
    vertical-align: top;
  }

  &-bottom {
    vertical-align: bottom;
  }

  &-sub {
    vertical-align: sub;
  }

  &-super {
    vertical-align: super;
  }

  &-text-bottom {
    vertical-align: text-bottom;
  }

  &-text-top {
    vertical-align: text-top;
  }
}
