/**
 * VUploader
 * *********************************/
.k-uploader {
  &__field {
    position: relative;
    cursor: pointer;
    padding: 8px;
    border: 1px dashed #646464;
    border-radius: 7px;
    max-width: 310px;
    @include no-select;
  }

  &:not(.control--disabled):not(.k-uploader--has-content):hover {
    .k-uploader__field {
      background-color: rgba($color-info, 0.05);
      border-color: rgba($color-info, 0.6);
    }

    .k-uploader__upload-icon {
      color: $color-info;
    }
  }

  &__placeholder {
    display: block;
    color: #adb3c1;
    text-align: center;
    @include text-size(0.7rem);
  }

  &__thumbnail {
    position: absolute;
    overflow: hidden;
    right: 3px;
    top: 5px;
    height: 30px;
    width: 34px;
    text-align: center;
    color: $color-white;
    background-color: rgba(150, 150, 150, 0.85);
    border-radius: 6px;
    @include text-size(0.65rem, 2.75);
  }

  &__img {
    object-fit: cover;
    height: 100%;
    opacity: 0.7;
    @include fit;

    &:hover {
      opacity: 0.8;
    }
  }

  &__title {
    display: block;
    max-width: 90%;
    @include single-line;
    @include text-size(0.75rem, 1.5);
  }

  &__percent {
    font-weight: 800;
  }

  &__status {
    font-size: 12px;
    font-weight: 600;
    color: $color-success;
  }

  &__delete {
    cursor: pointer;
    float: left;
    margin-top: 3px;
    line-height: 1;

    &:hover {
      color: $color-red;
    }
  }

  &__upload-icon {
    text-align: center;
    color: #646464;
    @include text-size(1.5rem, 1);
  }

  &.control--disabled {
    cursor: context-menu;

    .k-uploader__icon,
    .k-uploader__delete {
      cursor: context-menu;

      &:hover {
        color: inherit;
      }
    }
  }

  &.control--readonly {
    .k-uploader__icon,
    .k-uploader__delete {
      cursor: inherit;
    }
  }

  &--has-content {
    .k-uploader__field {
      padding-right: 44px;
      cursor: context-menu;
    }
  }
}
