.control {
  margin-bottom: 25px;

  &__label {
    margin-right: 16px;
    @include text-size(0.85rem);

    &-required {
      &:after {
        content: '*';
        color: $color-red;
        margin-right: 5px;
      }
    }
  }

  &__wrapper {
    margin: 3px 0;
  }

  &__input {
    display: block;
    padding: 7px 16px 7px 7px;
    border: 1px solid #646464;
    border-radius: 7px;
    width: 100%;
    @include text-size(0.75rem, 1.65, 300);

    &::placeholder {
      color: #555;
      @include text-size(0.75rem, 1.65, 300);
    }
  }

  &__error {
    color: $color-error;
    @include text-size(0.65rem, 1);
  }

  &__numeric-down {
    margin-left: -2px;
    font-size: 18px;
    line-height: 16px;
  }

  &__loading {
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 0;
    border-radius: 0 0 5px 5px;
  }

  &--error {
    margin-bottom: 10px;

    .control__input {
      border: 1px solid $color-error;
      box-shadow: 0 0 2px 0 $color-error;
    }
  }

  &--disabled {
    opacity: 0.65;
  }
}
