.answer {
  margin: 25px auto;
  max-width: 280px;
  background-color: $color-primary-darken-2;
  color: $color-white;
  padding: 25px 15px;
  box-shadow: 0 0 4px 0 $color-primary-darken-1;
  border-radius: 6px 6px 25px 6px;
}
