.answer {
  margin: 25px auto;
  max-width: 240px;
  background-color: #f2f9ef;
  color: $color-black;
  padding: 25px 15px;
  box-shadow: 0 0 4px 0 $color-primary-darken-1;
  border-radius: 6px 6px 25px 6px;

  .divider {
    margin-top: 5px;
    margin-bottom: 25px;
  }
}
