.loading {
  font-size: inherit;
  margin: auto;
  @include inline-block();
  @include rotating-animation();

  &--lg {
    font-size: 2rem;
  }

  &:before {
    content: $icon-refresh-cw;
    font-family: $icon-font-family;
    display: block;
  }
}
